<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
            margin: 0px auto 0px auto;
        }

        table th, td {
            border: 1px solid black;
            text-align: center;
        }

        div {
            text-align: right;
        }
    </style>
</head>
<body>
<div>
    <span th:if="${session.emp.empPosition == 'emperor'}">恭请皇上圣安</span>
    <span th:if="${session.emp.empPosition == 'minister'}">给<span th:text="${session.emp.empName}">XXX</span>大人请安</span>
    <a th:href="@{/emp?method=logout}">退朝</a>
</div>

<table>
    <tr>
        <td>奏折标题</td>
        <td th:text="${m.memorialsTitle}"></td>
    </tr>
    <tr>
        <td>上疏大臣</td>
        <td th:text="${m.memorialsEmpName}"></td>
    </tr>
    <tr>
        <td>上疏时间</td>
        <td th:text="${m.memorialsCreateTime}"></td>
    </tr>
    <tr>
        <td>奏折内容</td>
        <td th:text="${m.memorialsContent}"></td>
    </tr>
    <tr th:if="${m.memorialsStatus == 2}">
        <td>批复时间</td>
        <td th:text="${m.feedbackTime}"></td>
    </tr>
    <tr th:if="${m.memorialsStatus == 2}">
        <td>批复时间</td>
        <td th:text="${m.feedbackContent}"></td>
    </tr>
</table>

<div align="center" style="width: 200px;height: 500px" th:if="${m.memorialsStatus != 2}">
    <form align="center"  style="width: 180px;height: 400px" th:action="@{/work}" method="post">
        <input type="hidden" name="method" value="reply" />
        <input type="hidden" name="id" th:value="${m.memorialsId}"/>
        <textarea name="reply"></textarea>
        <button type="submit">御批</button>
    </form>
</div>
    <a th:href="@{/work?method=list}">返回列表</a>
</body>
</html>